%body
  .sign-up
    %header.sign-up__header
      %h1.sign-up__header__rogo
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340", alt: "mercari", class: "sign-up__header__rogo__img"
      %nav.progress-bar
        %ol.progress-bar__container
          %li.progress-bar__container__list
            会員情報
            .progress-bar__container__list__progress-status.through
          %li.progress-bar__container__list
            電話番号認証
            .progress-bar__container__list__progress-status.through
          %li.progress-bar__container__list.active
            住所入力
            .progress-bar__container__list__progress-status.active-status
          %li.progress-bar__container__list
            支払い方法
            .progress-bar__container__list__progress-status
          %li.progress-bar__container__list
            完了
            .progress-bar__container__list__progress-status

    %main.sign-up__main
      %section.sign-up__main__container
        %h2.sign-up__main__container__head 住所入力
        .sign-up__main__container__body
          - if @user.errors.any?
            - @user.errors.full_messages.each do |message|
              = message
          .sign-up__main__container__body__form
            = form_for @user, url: card_registration_users_path, method: :get do |f|
              = f.fields_for :user_detail do |d|
                .form-group
                  %label.form-label お名前
                  %span.form-require 必須
                  = d.text_field :first_name, placeholder: "例) 山田", class: "input-default"
                  = d.text_field :last_name, placeholder: "例) 彩", class: "input-default"
                .form-group
                  %label.form-label お名前カナ
                  %span.form-require 必須
                  = d.text_field :first_name_kana, placeholder: "例) ヤマダ", class: "input-default"
                  = d.text_field :last_name_kana, placeholder: "例) アヤ", class: "input-default"
              = f.fields_for :user_address do |a|
                .form-group
                  = a.label :postal_code, "郵便番号", class: "form-label"
                  %span.form-require 必須
                  = a.text_field :postal_code, placeholder: "例) 123-4567", class: "input-default"
                .form-group
                  = a.label :prefecture_code, "都道府県", class: "form-label"
                  %span.form-require 必須
                  .select-wrap
                    = a.collection_select(:prefecture_id, Prefecture.all, :id, :name, { prompt: "---" } , { class: "select-default"} )
                    %i.fa.fa-chevron-down
                .form-group
                  = a.label :municipalitie, "市区町村", class: "form-label"
                  %span.form-require 必須
                  = a.text_field :municipalitie, placeholder: "例) 横浜市緑区", class: "input-default"
                .form-group
                  = a.label :address, "番地", class: "form-label"
                  %span.form-require 必須
                  = a.text_field :address, placeholder: "例) 青山1−1−1", class: "input-default"
                .form-group
                  = a.label :building_name, "建物名", class: "form-label"
                  %span.form-arbitrary 任意
                  = a.text_field :building_name, placeholder: "例) 柳ビル103", class: "input-default"
              = f.submit "次へ進む", class: "btn-default btn-red"
= render "shared/sell-footer"
