%body
  .sign-up
    %header.sign-up__header
      %h1.sign-up__header__rogo
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340", alt: "mercari", class: "sign-up__header__rogo__img"
      %nav.progress-bar
        %ol.progress-bar__container
          %li.progress-bar__container__list.active
            会員情報
            .progress-bar__container__list__progress-status.active-status
          %li.progress-bar__container__list
            電話番号認証
            .progress-bar__container__list__progress-status
          %li.progress-bar__container__list
            お届け先住所入力
            .progress-bar__container__list__progress-status
          %li.progress-bar__container__list
            支払い方法
            .progress-bar__container__list__progress-status
          %li.progress-bar__container__list
            完了
            .progress-bar__container__list__progress-status

    %main.sign-up__main
      %section.sign-up__main__container
        %h2.sign-up__main__container__head 会員情報入力
        = form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f|
          = hidden_field_tag :current_step, 'step1'
          .sign-up__main__container__body
            .sign-up__main__container__body__form
              .form-group
                = f.label :nickname, "ニックネーム", class: "form-label"
                %span.form-require 必須
                = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: "input-default"
              .form-group
                = f.label :email, "メールアドレス", class: "form-label"
                %span.form-require 必須
                = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "input-default"
              .form-group
                = f.label :password, "パスワード", class: "form-label"
                %span.form-require 必須
                = f.password_field :password, placeholder: "6文字以上", class: "input-default"
              .form-group
                = f.label :password_confirmation, "パスワード(確認)", class: "form-label"
                %span.form-require 必須
                = f.password_field :password_confirmation, placeholder: "6文字以上", class: "input-default"
              = f.submit "次へ進む", class: "btn-default btn-red"
= render "shared/sell-footer"
