.header

.wrapper
  = render "/layouts/sidemenu"

  .main-contents
    .content__head
      支払い方法
    .content__body
      %h3 クレジットカード一覧
      - if @user.card_id.nil?
        .card-registration
          = fa_icon "credit-card"
          .card-registration__btn
            = link_to "クレジットカードを追加する", new_card_path, method: "get"
      - else
        .card-information
          = image_tag @url
          = link_to "削除する", card_path(1), method: "delete", class: "card-information__delete-btn"
          .card-information__number
            = "************#{@card.last4}"
          .card-information__valid
            = "#{@card.exp_month} / #{@card.exp_year}"
      = link_to '/', class: "payment" do
        %span 支払い方法について
        = fa_icon "angle-right"
