.header

.wrapper
  = render "/layouts/sidemenu"

  .main-contents
    .content__head
      支払い方法
    .content__body
      %h3 クレジットカード一覧
      - if (true)
        .card-registration
          = fa_icon "credit-card"
          .card-registration__btn
            = link_to "クレジットカードを追加する", '/', method: "post"
      - else
        .card-information
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1930558390"
          = link_to "削除する", '/', method: "delete", class: "card-information__delete-btn"
          .card-information__number
            ************8000
          .card-information__valid
            11 / 23
      = link_to '/', class: "payment" do
        %span 支払い方法について
        = fa_icon "angle-right"
