%header.top-header
  .top-header-inner
    .top-header-top
      .top-header-top-left
        %h1.top-header-top-left__logo
          = link_to root_path do
            = image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3856598694"), size: "134x36"
      .top-header-top-right
        = form_with url: search_path, method: :get, class: :"top-header-top-right__form", local: true do |f|
          = f.text_field :keyword, placeholder: "何かお探しですか？", class: "top-header-top-right__form--input"
          %i.top-header-top-right__form--icon
            %i.fa.fa-search
    .top-header-nav
      .top-header-nav-left
        %ul.header-product-nav
          %li.header-product-nav__list
            = link_to root_path do
              %i.fa.fa-bars.header-product-nav__list--icon
              %span.header-product-nav__list--font
                カテゴリーから探す
          %li.header-product-nav__list
            = link_to root_path do
              %i.fa.fa-tag.header-product-nav__list--icon
              %span.header-product-nav__list--font
                ブランドから探す 
      .top-header-nav-right
        %ul.header-user-nav
          %li.header-user-nav__list
            = link_to root_path do
              %i.fa.fa-bell.header-user-nav__list--icon
              %span.header-user-nav__list--font
                お知らせ
          %li.header-user-nav__list
            = link_to root_path do
              %i.fa.fa-check.header-user-nav__list--icon
              %span.header-user-nav__list--font
                やることリスト
          %li.header-user-nav__list
            = link_to root_path do
              %i.fa.fa-smile-o.header-user-nav__list--icon
              %span.header-user-nav__list--font
                マイページ
