.pick-up-category
  %h3.pick-up-category__head
    = link_to "#{pickup} 新着アイテム", root_path, class: "pick-up-category__link"
  .pick-up-category-item
    - items.each do |item|
      = link_to product_path(item.id), class: "pick-up-category-item__link" do
        -# = image_tag ("#{item.images[1].url}"), class: "pick-up-category-item__img"
        - if (item.buyer_id)
          .pick-up-category-item__sold
            .pick-up-category-item__sold--msg
              SOLD
        .pick-up-category-item-info
          .pick-up-category-item-info__name
            = item.name
          .pick-up-category-item-info-price
            %p.pick-up-category-item-info-price__main
              ¥ #{item.price}
              - if (item.trading_evaluation_id)
                %span.pick-up-category-item-info-price__main
                  %i.fa.fa-heart.pick-up-category-item-info-price__main--icon-red
                  %span.pick-up-category-item-info-price__main--evaluation
                    = item.trading_evaluation.evaluation
            %p.pick-up-category-item-info-price__sub
              (税込)
  = link_to root_path, class: "pick-up-category__see-all" do
    %span
      全ての商品をみる
