.default-container 
  %main.product-search-wrap
    .product-detail-search
      = form_with url: search_products_path, class: ".product-detail-search-form" do |f|
        .product-detail-search-form-sort
          = select_tag "product_sort", options_for_select(product_sort), class: "product-detail-search-form-sort__select"
          %i.fas.fa-chevron-down.product-detail-search-form-sort__icon
        .product-detail-search-form-value
          %h3.product-detail-search-form-value__title
            詳細検索
          .product-detail-search-form-value-keyword
            %label.product-detail-search-form-value-keyword-label
              %i.fas.fa-plus.product-detail-search-form-value-keyword-label__icon
              %span.product-detail-search-form-value-keyword-label__title
                キーワードを追加する
            = f.text_field "keyword", class: "product-detail-search-form-value-keyword__input", placeholder: "例) 値下げ"
          .product-detail-search-form-value-category
            %label.product-detail-search-form-value-category-label
              %i.fas.fa-bars.product-detail-search-form-value-category-label__icon
              %span.product-detail-search-form-value-category-label__title
                カテゴリーを選択する
            = select_tag "category_sort", options_for_select(category_sort), class: "product-detail-search-form-value-category__select"
            %i.fas.fa-chevron-down.product-detail-search-form-value-category__icon
          .product-detail-search-form-value-brand
            %label.product-detail-search-form-value-brand-label
              %i.fas.fa-tags.product-detail-search-form-value-brand-label__icon
              %span.product-detail-search-form-value-brand-label__title
                ブランド名から探す
            = f.text_field "keyword", class: "product-detail-search-form-value-brand__input sell-brand-input", placeholder: "例) シャネル"
          .product-detail-search-form-value-size
            %label.product-detail-search-form-value-size-label
              %i.fas.fa-expand.product-detail-search-form-value-size-label__icon
              %span.product-detail-search-form-value-size-label__title
                サイズを指定する
            = select_tag "product_sort", options_for_select(size_sort), class: "product-detail-search-form-value-size__select"
            %i.fas.fa-chevron-down.product-detail-search-form-value-size__icon
          .product-detail-search-form-value-price
            %label.product-detail-search-form-value-price-label
              %i.fas.fa-dollar-sign.product-detail-search-form-value-price-label__icon
              %span.product-detail-search-form-value-price-label__title
                価格
            = select_tag "product_sort", options_for_select(price_sort), class: "product-detail-search-form-value-price__select"
            %i.fas.fa-chevron-down.product-detail-search-form-value-price__icon
          = f.text_field "praice-min", class: "product-detail-search-form-value-price-min", type:"number", placeholder: "¥ Min"
          %span ~
          = f.text_field "praice_max", class: "product-detail-search-form-value-price-max", type:"number", placeholder: "¥ Max"
          .product-detail-search-form-value-condition
            %label.product-detail-search-form-value-condition-label
              %i.fas.fa-star.product-detail-search-form-value-condition-label__icon
              %span.product-detail-search-form-value-condition-label__title
                商品の状態
            .product-search-condition-select-container
              .product-search-condition-select
                = check_box_tag "condition_all", 1, false, {class: "product-search-condition-select__check-box"}
                = label_tag "condition_all" ,"全て", class: "product-search-condition-select__label", for: "condition_all"
              - condition_sort.each do |condition|
                .product-search-condition-select
                  = check_box_tag "condition_select#{condition.id}[condition_select][]", condition.id, false, {class: "product-search-condition-select__check-box"}
                  = label_tag "condition-select-label", "#{condition.condition}", class: "product-search-condition-select__label", for: "condition_select#{condition.id}_condition_select_"
          .product-detail-search-form-value-delivery-burden
            %label.product-detail-search-form-value-delivery-burden-label
              %i.fas.fa-truck-moving.product-detail-search-form-value-delivery-burden-label__icon
              %span.product-detail-search-form-value-delivery-burden__title
                配送料の負担
            .product-search-delivery-burden-select-container
              .product-search-delivery-burden-select
                = check_box_tag "delivery-burden_all", 0, false, {class: "product-search-delivery-burden-select__check-box"}
                = label_tag "delivery-burden_all" ,"すべて", class: "product-search-delivery-burden-select__label", for: "delivery-burden_all"
              - delivery_burden_sort.each_with_index do |burden, i|
                .product-search-delivery-burden-select
                  = check_box_tag "burden#{i}[burden][]", burden.name, false,  {class: "product-search-delivery-burden-select__check-box"}
                  = label_tag "burden-label", "#{burden.name}", class: "product-search-delivery-burden-select__label", for: "burden#{i}_burden_"
          .product-detail-search-form-value-sales-status
            %label.product-detail-search-form-value-sales-status-label
              %i.fas.fa-shopping-basket.product-detail-search-form-value-sales-status-label__icon
              %span.product-detail-search-form-value-sales-status__title
                販売状況
            .product-search-sales-status-select-container
              .product-search-sales-status-select
                = check_box_tag "sales-status_all", 0, false, {class: "product-search-sales-status-select__check-box"}
                = label_tag "sales-status_all" ,"すべて", class: "product-search-sales-status-select__label", for: "sales-status_all"
              - sales_status_sort.each_with_index do |states, i|
                .product-search-sales-status-select
                  = check_box_tag "sales-status#{i + 1}[sales-status][]", i + 1, false, {class: "product-search-sales-status-select__check-box"}
                  = label_tag "sales-status", "#{states}", class: "product-search-sales-status-select__label", for: "sales-status#{i + 1}_sales-status_"
          .product-detail-search-form-btn
            .product-detail-search-form-btn__clear
              クリア
            .product-detail-search-form-btn__execution
              完了
    .product-search-result
      %h2.product-search-result__title
        = @keyword + "の検索結果"
      - if @result_count != 0
        %p.product-search-result__count
          = "1 - #{@products.length}件表示"
      - else
        %p.product-search-result__count
          該当する商品が見つかりません。条件を変えて再度お試しください。
        %h2.product-search-result__subtitle
          新着商品
      .product-search-result-item
        - @products.each do |product|
          = link_to product_path(product.id), class: "product-search-result-item__link" do
            = image_tag ("#{product.images[0].url}"), class: "product-search-result-item__img"
            - if (product.buyer_id)
              .product-search-result-item__sold
                .product-search-result-item__sold--msg
                  SOLD
            .product-search-result-item-info
              .product-search-result-item-info__name
                = product.name
              .product-search-result-item-info-price
                %p.product-search-result-item-info-price__main
                  ¥ #{product.price}
                  - if (product.trading_evaluation_id)
                    %span.product-search-result-item-info-price__main
                      %i.fa.fa-heart.product-search-result-item-info-price__main--icon-red
                      %span.product-search-result-item-info-price__main--evaluation
                        = product.trading_evaluation.evaluation
                %p.product-search-result-item-info-price__sub
                  (税込)
