= render "product-create-link"
.product-show-wrap
  .product-showbox
    .product-showbox__title
      INDIVIパンツ
    .product-showbox-contents
      .product-showbox-contents__image
        = image_tag("https://i.gyazo.com/2177b76eb21a5a5dde7d5b33ce35eca3.png")
      .product-showbox-contents-detail
        .pproduct-showbox-contents-detail-seller
          .product-showbox-contents-detail-seller__title
            出品者
          .product-showbox-contents-detail-seller__contents
            .product-showbox-contents-detail-seller__contents--name
              くー
            .product-showbox-contents-detail-seller-evaluation
              %i.product-showbox-contents-detail-seller-evaluation--good
                29
              %i.product-showbox-contents-detail-seller-evaluation--normal
                1
              %i.product-showbox-contents-detail-seller-evaluation--bad
        .product-showbox-contents-detail-category
          .product-showbox-contents-detail-category__title
            カテゴリー
          .product-showbox-contents-detail-category__contents
            =link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i 矢印
              %span レディース
            =link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i 矢印
              %span パンツ
            =link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i 矢印
              %span カジュアルパンツ
        .product-showbox-contents-detail-brand
          .product-showbox-contents-detail-brand__title
            ブランド
          .product-showbox-contents-detail-brand__contents
            =link_to root_path , class: "product-showbox-contents-detail-brand__contents--link"
        .product-showbox-contents-detail-size
          .product-showbox-contents-detail-size__title
            商品のサイズ
          .product-showbox-contents-detail-size__contents
            S
        .product-showbox-contents-detail-condition
          .product-showbox-contents-detail-delivery-fee__title
            配送料の負担
          .product-showbox-contents-detail-delivery-fee__contents
            目立った傷や汚れなし
        .product-showbox-contents-detail-delivery-fee
          .product-showbox-contents-detail-delivery-fee__title
            配送料の負担
          .product-showbox-contents-detail-delivery-fee__contents
            送料込み（出品者負担）
        .product-showbox-contents-detail-delivery-method
          .product-showbox-contents-detail-delivery-method__title
            配送の方法
          .product-showbox-contents-detail-delivery-method__contents
            ゆうゆうメルカリ便
        .product-showbox-contents-detail-delivery-source-area 
          .product-showbox-contents-detail-delivery-source-area__title
            配送元地域
          .product-showbox-contents-detail-delivery-source-area__contents
            東京都
        .product-showbox-contents-detail-delivery-day
          .product-showbox-contents-detail-delivery-day__title
            発送日の目安
          .product-showbox-contents-detail-delivery-day__contents
            4~7日で発送
    .product-showbox-payment
      %p.product-showbox-payment__price
        ¥555
      %span.product-showbox-payment__option--left
        (税込)
      %span.product-showbox-payment__option--right
        送料込み
    .product-showbox-purchase
      = link_to "購入画面に進む", root_path, class: "product-showbox-purchase__link"
    .product-showbox-description
      七分丈のパンツ
      %br
      サイズ36
      %br
      全体的に綺麗ですが、中古品ですのでご理解ある方、よろしくお願い致します。
    .product-showbox-user-menu
      .product-showbox-user-menu__likes
        %i ハートマーク
        %span いいね！
      .product-showbox-user-menu__improper-report
        %i 旗マーク
        %span 不適切な商品の報告
      = link_to root_path, class: "product-showbox-user-menu__initiatives" do
        %i 鍵マーク
        %span 安心安全への
  .product-show-comment
    -# コメント機能実装時に変更
    - if true
    .product-show-comment-contents
      %i ユーザーのアイコン
      .product-show-comment-contents__detail
        .product-show-comment-contents__detail--name
          小室洸介
        .product-message
          .product-message__main-contents
            文字盤のサイズを教えてください。また、ベルトは穴にさすタイプですか？ベルト閉めたところも写真載せていただけると助かります。
          .product-message__sub-contents
            .product-message__sub-contents--time
              %i 時計のアイコン
              %span 10時間前
            .product-message__sub-contents--report
              %i 旗のアイコン
    .product-show-comment__warning
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
    -# コメント機能実装時に変更
    = form_with url: search_products_path, method: :get, class: :"product-show-comment__form", local: true do |f|
          = f.text_field :keyword, class: "product-show-comment__form--input"
          = f.submit "コメントする" , class: "product-show-comment__form--button"
  .product-show-other-product
    =link_to root_path , class: "product-show-other-product__previous" do
      %i 左矢印
      %p ミニー４点セット
    =link_to root_path , class: "product-show-other-product__previous" do
      %i 右じるし
      %p ロクシタン ハンドクリーム ソープ ギフトセット
  .product-show-social-media
    %ul.product-show-social-media-box
      画像のみ実装
      = link_to root_path , class: "product-show-social-media-box__link" do
        = image_tag("https://i.gyazo.com/de326c1cb08279c3c82071d60052438a.png"), class: "product-show-social-media-box__link--image"




        
    



          


      


