.product-show-wrap
  .product-showbox
    %h1.product-showbox__title
      = @product.name
    .product-showbox-contents
      .product-showbox-contents-slick
        .product-showbox-contents-slick__main-image
          - @product.images.each do |image|
            = image_tag ("#{image.url}"), class: "product-showbox-contents-slick__main-image--size"
        .product-showbox-contents-slick__thumbnail-image
          - @product.images.each do |image|
            = image_tag ("#{image.url}"), class: "product-showbox-contents-slick__thumbnail-image--size"
      .product-showbox-contents-detail
        .product-showbox-contents-detail-seller
          .product-showbox-contents-detail-seller__title
            %span
              出品者
          .product-showbox-contents-detail-seller__contents
            = link_to "#{@product.seller.nickname}", root_path, class:"product-showbox-contents-detail-seller__contents--name"
            .product-showbox-contents-detail-seller-evaluation
              %i.fa.fa-smile-o.product-showbox-contents-detail-seller-evaluation__icon-good
              29
              %i.fa.fa-meh-o.product-showbox-contents-detail-seller-evaluation__icon-normal
              1
              %i.fa.fa-frown-o.product-showbox-contents-detail-seller-evaluation__icon-bad
              0
        .product-showbox-contents-detail-category
          .product-showbox-contents-detail-category__title
            カテゴリー
          .product-showbox-contents-detail-category__contents
            -# サーバサイド実装時に変更: 表示している商品のカテゴリーへのリンクを貼る
            -# each.do使えそう
            = link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i.fa.fa-chevron-right
              %span #{@product.category.parent.parent.name}
            = link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i.fa.fa-chevron-right
              %span #{@product.category.parent.name}
            = link_to root_path , class: "product-showbox-contents-detail-category__contents--link" do
              %i.fa.fa-chevron-right
              %span #{@product.category.name}
        .product-showbox-contents-detail-brand
          .product-showbox-contents-detail-brand__title
            ブランド
          .product-showbox-contents-detail-brand__contents
            =link_to "#{@product.brand.brand}", root_path , class: "product-showbox-contents-detail-brand__contents--link"
        .product-showbox-contents-detail-size
          .product-showbox-contents-detail-size__title
            商品のサイズ
          .product-showbox-contents-detail-size__contents
            - if @product.size
              = @product.size.size
        .product-showbox-contents-detail-condition
          .product-showbox-contents-detail-condition__title
            商品の状態
          .product-showbox-contents-detail-condition__contents
            = @product.condition.condition
        .product-showbox-contents-detail-delivery-fee
          .product-showbox-contents-detail-delivery-fee__title
            配送料の負担
          .product-showbox-contents-detail-delivery-fee__contents
            = @product.delivery_method.parent.name
        .product-showbox-contents-detail-delivery-method
          .product-showbox-contents-detail-delivery-method__title
            配送の方法
          .product-showbox-contents-detail-delivery-method__contents
            = @product.delivery_method.name
        .product-showbox-contents-detail-delivery-source-area 
          .product-showbox-contents-detail-delivery-source-area__title
            配送元地域
          .product-showbox-contents-detail-delivery-source-area__contents
            =link_to "#{@product.prefecture.name}", root_path , class: "product-showbox-contents-detail-delivery-source-area__contents--link"
        .product-showbox-contents-detail-delivery-day
          .product-showbox-contents-detail-delivery-day__title
            発送日の目安
          .product-showbox-contents-detail-delivery-day__contents
            = @product.delivery_day.day
    .product-showbox-payment
      .product-showbox-payment__price
        ¥ #{@product.price}
        %span.product-showbox-payment__price--option-left
          (税込)
        %span.product-showbox-payment__price--option-right
          送料込み
    = link_to "購入画面に進む", buy_product_path(@product.id), class: "product-showbox-purchase"
    .product-showbox-description
      = @product.description
    .product-showbox-user-menu
      - if ((@product.likes & @current_user.likes).size > 0)
        .product-showbox-user-menu__already-likes{id: @product.id}
          %i.fa.fa-heart.product-showbox-user-menu__already-likes--icon
          %span いいね！ #{@product.likes.length}
      - else
        .product-showbox-user-menu__likes{id: @product.id}
          %i.fa.fa-heart.product-showbox-user-menu__likes--icon
          %span いいね！ #{@product.likes.length}
      .product-showbox-user-menu__improper-report
        %i.fa.fa-flag.product-showbox-user-menu__improper-report--icon
        %span 不適切な商品の報告
      = link_to root_path, class: "product-showbox-user-menu__initiatives" do
        %i.fa.fa-lock.product-showbox-user-menu__initiatives--icon
        %span 安心・安全への取り組み
  .product-show-comment
    -# コメント機能実装時に変更
    - if true
      - 2.times do
        .product-show-comment-contents
          %i.fa.fa-user
          .product-show-comment-contents__detail
            .product-show-comment-contents__detail--name
              小室洸介
            .product-message
              .product-message__main-contents
                文字盤のサイズを教えてください。また、ベルトは穴にさすタイプですか？ベルト閉めたところも写真載せていただけると助かります。
              .product-message__sub-contents
                .product-message__sub-contents--time
                  %i.fa.fa-clock-o
                  %span 10時間前
                .product-message__sub-contents--report
                  %i.fa.fa-flag
    .product-show-comment-warning
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
    -# コメント機能実装時に変更
    = form_with url: search_products_path, method: :get, class: :"product-show-comment-form", local: true do |f|
      = f.text_area :keyword, class: "product-show-comment-form__input"
      = f.submit "コメントする", class: "product-show-comment-form__button"
  .product-show-other-product
    - if @previous_product != nil
      = link_to root_path , class: "product-show-other-product__previous" do
        %i.fa.fa-chevron-left
        %span #{@previous_product.name}
    - if @next_product != nil
      = link_to root_path , class: "product-show-other-product__previous" do
        %span #{@next_product.name}
        %i.fa.fa-chevron-right
  .product-show-social-media
    %ul.product-show-social-media-box
      -# 画像のみ実装
      = link_to root_path , class: "product-show-social-media-box__link" do
        = image_tag ("https://i.gyazo.com/de326c1cb08279c3c82071d60052438a.png"),class: "product-show-social-media-box__link--image"
  -# サーバサイド実装時に変更 販売者の他の商品を紹介
  = render "show-products"
