%div{class: "side-menu"}
  %ul{class: "mypage"}
    %li{class: "mypage__item"}
      %span マイページ
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span お知らせ
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span やることリスト
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span いいね！一覧
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 出品する
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 出品した商品 - 出品中
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 出品した商品 - 取引中
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 出品した商品 - 売却済み
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 購入した商品 - 取引中
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 購入した商品 - 過去の取引
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span ニュース一覧
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span 評価一覧
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span ガイド
      = fa_icon "angle-right"
    %li{class: "mypage__item"}
      %span お問い合わせ
      = fa_icon "angle-right"
  %h3 メルペイ
  %ul{class: "mer-pay"}
    %li{class: "mer-pay__item"}
      %span 売上・振込申請
      = fa_icon "angle-right"
    %li{class: "mer-pay__item"}
      %span ポイント
      = fa_icon "angle-right"
  %h3 設定
  %ul{class: "setting"}
    %li{class: "setting__item"}
      %span プロフィール
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span 発送元・お届け先住所変更
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span 支払い方法
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span メール/パスワード
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span 本人情報
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span 電話番号の確認
      = fa_icon "angle-right"
    %li{class: "setting__item"}
      %span ログアウト
      = fa_icon "angle-right"
